.grid-container{
    display: grid;
    grid-template-columns: auto  auto;
    background-color: rgb(243, 239, 243);
    padding: 10px;
    
}

.grid-book{
    display: grid;
    grid-template-columns: 2px 1fr 1fr 2px;
    grid-template-rows: 100px 100px 50px;
    background-color: white;
    height: 100px;
    grid-template-areas: 
    ".header aside. "
    ".main main."
    ".footer footeri.";
}

body{
    background-color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif  
}

header{
    background-color: white;
    grid-area: header;
}

main{
    background-color: white;
    grid-area: main;
}

aside{
    background-color: white;
    grid-area: aside;
}

footer{
    background-color:white;
    grid-area: footer;
}

footeri{
    background-color: white;
    grid-area: footeri;
}


.aa{
    width: 500px;
    height: 300px;
    background-color: white;
    border: lightgray solid 1px;
    padding: 20px;
    border-radius: 10px ;    
}

h2::after{
    content:"Friends with Marijn";
    display: block;
    color: lightgray;
    font-size: 15px;
}

.ab{
    display:flex;
    align-self: flex-start;
}

.fot{
    display:flex;
    justify-content: flex-end;
}

.gg{
    color: slategrey;
    font-size: 15px;
}

.gh{
    display: flex;
    justify-content: flex-end;
}

.zz h2::after{
    content:"New Member";
    display: block;
    color: lightgray;
    font-size: 15px;
}
 
.ad{
    font-size: 20px;    
}

.bb{
    width: 500px;
    height: 200px;
    background-color: white;
    margin-left: 379px;
    margin-right: 751px;
}

.ae{
    color:green;
    border: green solid 3px;
    display:flex;
    justify-content: center;
    border-radius: 3px ;
    padding: 10px;
}

.ag{
    color:red;
    border: red solid 3px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    padding: 10px;
}